<a href="https://colab.research.google.com/github/Aisuluu1405/Codify/blob/master/Homework_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic (1).csv

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.head()

   PassengerID  ... SexCode
0            1  ...       1
1            2  ...       1
2            3  ...       0
3            4  ...       1
4            5  ...       0

[5 rows x 7 columns]

In [ ]:
df.tail()

      PassengerID                    Name PClass   Age   Sex  Survived  SexCode
1308         1309      Zakarian, Mr Artun    3rd  27.0  male         0        0
1309         1310  Zakarian, Mr Maprieder    3rd  26.0  male         0        0
1310         1311        Zenni, Mr Philip    3rd  22.0  male         0        0
1311         1312        Lievens, Mr Rene    3rd  24.0  male         0        0
1312         1313          Zimmerman, Leo    3rd  29.0  male         0        0

In [ ]:
df.describe()

       PassengerID         Age     Survived      SexCode
count  1313.000000  756.000000  1313.000000  1313.000000
mean    657.000000   30.397989     0.342727     0.351866
std     379.174762   14.259049     0.474802     0.477734
min       1.000000    0.170000     0.000000     0.000000
25%     329.000000   21.000000     0.000000     0.000000
50%     657.000000   28.000000     0.000000     0.000000
75%     985.000000   39.000000     1.000000     1.000000
max    1313.000000   71.000000     1.000000     1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerID  1313 non-null   int64
 1   Name         1313 non-null   object
 2   PClass       1313 non-null   object
 3   Age          756 non-null    float64
 4   Sex          1313 non-null   object
 5   Survived     1313 non-null   int64
 6   SexCode      1313 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

In [ ]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/homework_11.csv')